## Settings file was created by plugin NewTerminal v1.3.0
## Plugin GUID: NewTerminal

[TerminalMenus.Special]

# Setting type: String
# Default value: BG IG, A System-Act Ally\nCopyright (C) 2084-2108, Halden Electronics Inc.\nCourtesy of the Company.\n\n\n\nBios for FORTUNE-9 87.7/10MHZ SYSTEM\n\nCurrent date is Tue  3-7-2532\nCurrent time is 8:03:32.15\n\nPlease enter favorite animal: 
WelcomeNode = BG IG, Firmatario Atto Sistemico\n (C) Halden Electronics Inc. 2084-2108, Tutti i diritti riservati.\nPer gentile concessione della Compagnia.\n\n\n\nBIOS per sistemi a 87.7/10MHZ FORTUNA-9\n\nData odierna: Martedì 7-MAR-2532\nOra: 8:03:32.15\n\nSi prega di digitare il proprio animale preferito:

# Setting type: String
# Default value: Welcome to the FORTUNE-9 OS\n\tCourtesy of the Company\n\nHappy [currentDay].\n\nType \"Help\" for a list of commands.\n\n\n\n\n
Start = Benvenuto nel SO FORTUNA-9\n     Per gentile concessione della Compagnia.\n\nBuon [currentDay].\n\nDigitare \"Aiuto\" per una lista dei comandi.\n\n\n\n\n

# Setting type: String
# Default value: You could not afford these items!\nYour balance is [playerCredits]. Total cost of these items is [totalCost].\n\n
CannotAfford = Impossibile completare la transazione!\nFondi disponibili [playerCredits]. Costo totale oggetti richiesti [totalCost].\n\n

# Setting type: String
# Default value: Unable to route the ship currently. It must be in orbit around a moon to route the autopilot.\nUse the main lever at the front desk to enter orbit.\n\n\n\n
CouldNotReroute = Impossibile calcolare una rotta. La nave deve trovarsi in orbita.\nUtilizzare la leva centrale per entrare in orbita.\n\n\n\n

# Setting type: String
# Default value: The delivery vehicle cannot hold more than 12 items\nat a time. Please pick up your items when they land!\n\n\n
TooManyItems = Il razzo di consegna non può trasportare più di\n12 oggetti contemporaneamente. Si prega di ritirare la consegna all'arrivo!               (Nessun rimborso)\n\n\n

# Setting type: String
# Default value: An error occured! Try again.\n\n
GeneralError = Errore! Riprovare.\n\n

# Setting type: String
# Default value: No data has been collected on this creature. \nA scan is required.\n\n
NoCreatureData = Nessun dato disponibile per questa creature. \nÈ necessaria una scansione.\n\n

# Setting type: String
# Default value: To purchase decorations, the ship cannot be landed.\n\n
MustBeInOrbit = Per acquistare decorazioni, la nave deve trovarsi in orbita.\n\n

# Setting type: String
# Default value: The autopilot ship is already orbiting this moon!
AlreadyOnThisPlanet = La nave sta già orbitando questa luna!

# Setting type: String
# Default value: [DATA CORRUPTED OR OVERWRITTEN]\n\n
NoUnlockedStoryLogs = [DATI CORROTTI O SOVRASCRITTI]\n\n

# Setting type: String
# Default value: [There was no action supplied with the word.]\n\n
ParserError1 = [Comando non valido.]\n\n

# Setting type: String
# Default value: [There was no object supplied with the action, or your word was typed incorrectly or does not exist.]\n\n
ParserError2 = [Parametri comando mancanti, non validi o scritti erroneamente.]\n\n

# Setting type: String
# Default value: [This action was not compatible with this object.]\n\n
ParserError3 = [Comando incompatibile con questo parametro.]\n\n

# Setting type: String
# Default value: >MOONS\nTo see the list of moons the autopilot can route to.\n\n>STORE\nTo see the company store\'s selection of useful items.\n\n>BESTIARY\nTo see the list of wildlife on record.\n\n>STORAGE\nTo access objects placed into storage.\n\n>OTHER\nTo see the list of other commands\n\n[numberOfItemsOnRoute]\n
HelpCommands = >LUNE\nPer la lista di lune verso cui fare rotta.\n\n>NEGOZIO\nPer godere dell'ottima gamma di prodotti utili della Compagnia.\n\n>BESTIARIO\nPer consultare il registro delle creature.\n\n>DEPOSITO\nPer accedere agli oggetti depositati.\n\n>ALTRO\nPer ulteriori comandi\n\n[numberOfItemsOnRoute]\n

# Setting type: String
# Default value: This has already been unlocked for your ship!
AlreadyUnlocked = Già sbloccato per questa nave!

# Setting type: String
# Default value: The ship cannot be leaving or landing!\n\n
ShipInMotion = La nave deve essere stazionaria!\n\n

# Setting type: String
# Default value: This item is not in stock!\n\n
NotInStock = Oggetto non disponibile!\n\n

# Setting type: String
# Default value: Returned the item from storage!
ReturnedFromStorage = Restituito oggetto dal deposito!

# Setting type: String
# Default value: This is locked from the demo version!\n\n
LockedForDemo = Non disponibile nella versione demo!\n\n

# Setting type: String
# Default value: Entered broadcast code.\n
EnteredCode = Inserito codice trasmissione.\n

# Setting type: String
# Default value: Switched radar to player.\n\n
SwitchedCam = Cambio giocatore tracciato.\n\n

# Setting type: String
# Default value: Pinged radar booster.\n\n
PingedRadarBooster = Ripetitore segnalato.\n\n

# Setting type: String
# Default value: Sent transmission.\n\n
SendSignalTranslator = Trasmissione inviata.\n\n

# Setting type: String
# Default value: Flashed radar booster.\n\n
FlashedRadarBooster = Lampo emesso.\n\n

